{% extends 'almanac/base.html' %}
{%load staticfiles%}

{% block title %}
<title>2018 {{ body.label }} election schedule and registration dates</title>
{% endblock title %}

{% block content %}
<header class="center">
  <div class="share">
   <a href="" class="icon icon-facebook" target="_blank"></a>
   <a href="" class="icon icon-twitter" target="_blank"></a>
   <a class="icon icon-mail" target="_blank"></a>
  </div>
  <h1>
    {{ body.label }}election schedule and registration dates
  </h1>
</header>
<div id="app"></div>
{% endblock %}
{% block config %}
<script>
  window.appConfig = {
    'data': '/api/election-events/?format=json&body={{ body.slug }}',
    'images': '/static/almanac/images',
    'type': 'body',
  }
</script>
{% endblock %}
{% block relative_foot %}
<!-- Use me to authenticate basic AJAX requests -->
<input id="secret" type="hidden" value="{{secret}}" />
<script src="{% static 'almanac/js/main-app.js' %}"></script>
{% endblock %}
