{% extends 'almanac/base.html' %}
{%load staticfiles%}

{% block title %}
<title>{{ body.label }} 2018 Election Schedule: Primary Dates & Calendar</title>
{% endblock title %}

{% block page-meta %}
<!-- Site URL -->
<meta property="og:url" content="https://www.politico.com/election-results/2018/{{ body.slug }}/" />
<link rel="canonical" href="https://www.politico.com/election-results/2018/{{ body.slug }}/" />
<!-- Project title -->
<meta property="twitter:title" content="{{ body.label }} 2018 Election Schedule: Primary Dates & Calendar" />
<meta property="og:title" content="{{ body.label }} 2018 Election Schedule: Primary Dates & Calendar" />
<!-- Project description -->
<meta property="twitter:description" content="Updated calendar of {{ body.label }} election dates, early voting and registration deadlines. POLITICO's coverage of the 2018 midterm races for Senate, House & state governors." />
<meta property="og:description" content="Updated calendar of {{ body.label }} election dates, early voting and registration deadlines. POLITICO's coverage of the 2018 midterm races for Senate, House & state governors." />
<meta name="description" content="Updated calendar of {{ body.label }} election dates, early voting and registration deadlines. POLITICO's coverage of the 2018 midterm races for Senate, House & state governors." />
{% endblock %}

{%block meta-image%}
<meta property="twitter:image" content="https://www.politico.com/election-results/cdn/img/2018/share/{{body.slug}}/share.jpg" />
<meta property="twitter:image:alt" content="Live election results and maps." />
<meta property="og:image" content="https://www.politico.com/election-results/cdn/img/2018/share/{{body.slug}}/share.jpg" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="300" />
{%endblock%}

{% block content %}
<header class="center">
  <div class="share">
   <a href="" class="icon icon-facebook" target="_blank"></a>
   <a href="" class="icon icon-twitter" target="_blank"></a>
   <a class="icon icon-mail" target="_blank"></a>
  </div>
  <h1>
    {{ body.label }} election schedule 2018: Primary and registration dates
  </h1>
  <p class="subhead" style="text-align: center;">
    See the entire national calendar <a href="/election-results/2018/">here</a>.
  </p>
</header>
<div id="app"></div>
{% endblock %}

{% block config %}
<script>
  window.appConfig = {
    'data': '/api/election-events/?format=json&body={{ body.slug }}',
    'images': '/static/almanac/images',
    'type': 'body',
  }
</script>
{% endblock %}
{% block relative_foot %}
<!-- Use me to authenticate basic AJAX requests -->
<input id="secret" type="hidden" value="{{secret}}" />
<script src="{% static 'almanac/js/main-app.js' %}"></script>
{% endblock %}


{% block ad %}
<script type="text/javascript">
(function(a,b,c,d){
a='//tags.tiqcdn.com/utag/politico/main/prod/utag.js';
b=document;c='script';d=b.createElement(c);d.src=a;
d.type='text/java'+c;
d.async=true;
a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a)
})();
var utag_data = {
 "page_level_1":"interactives",
 "free_paid_content":"free",
 "ad_unit_section":"2018-election",
 "site_section":"elections",
 "page_type":"election results",
 "site_domain":"www.politico.com",
 "internal_site_id":"politico",
 "page_name":"2018 Election:Results:{{body.label}}",
 "content_author":"Tyler Fisher|Sarah Frostenson|Jeremy C.F. Lin|Jon McClure|Lily Mihalik ",
 "content_byline":"By Tyler Fisher, Sarah Frostenson, Jeremy C.F. Lin, Jon McClure and Lily Mihalik ",
};
window.$('.icon-facebook').click(function(e){
  e.preventDefault();
  const uri = encodeURIComponent(window.location.href);
  window.open('https://www.facebook.com/sharer/sharer.php?u=' + uri);
});
window.$('.icon-twitter').click(function(e){
e.preventDefault();
const uri = window.location.href;
const status = encodeURIComponent('{{year}} {{state}} Election Results: Live map, real-time voting updates ' + uri);
window.open('https://twitter.com/home?status=' + status);
});
</script>
{% endblock %}
