{% extends 'almanac/base.html' %}
{%load staticfiles%}

{% block title %}
<title>{{ state.label }} 2018 Election Schedule: Primary Dates & Calendar</title>{% endblock title %}

{% block page-meta %}
<!-- Site URL -->
<meta property="og:url" content="https://www.politico.com/election-results/2018/{{ state.slug }}/" />
<link rel="canonical" href="https://www.politico.com/election-results/2018/{{ state.slug }}/" />
<!-- Project title -->
<meta property="twitter:title" content="{{ state.label }} 2018 Election Schedule: Primary Dates & Calendar" />
<meta property="og:title" content="{{ state.label }} 2018 Election Schedule: Primary Dates & Calendar" />
<!-- Project description -->
<meta property="twitter:description" content="Updated calendar of {{ state.label }} election dates, early voting and registration deadlines. POLITICO's coverage of the 2018 midterm races for Senate, House & state governors." />
<meta property="og:description" content="Updated calendar of {{ state.label }} election dates, early voting and registration deadlines. POLITICO's coverage of the 2018 midterm races for Senate, House & state governors." />
<meta name="description" content="Updated calendar of {{ state.label }} election dates, early voting and registration deadlines. POLITICO's coverage of the 2018 midterm races for Senate, House & state governors." />
{% endblock %}

{% block content %}
<header class="center">
  <div class="share">
   <a href="" class="icon icon-facebook" target="_blank"></a>
   <a href="" class="icon icon-twitter" target="_blank"></a>
   <a class="icon icon-mail" target="_blank"></a>
  </div>
  <h1>
    {{ state.label }} election schedule 2018: Primary and registration dates
  </h1>
  <p class="subhead" style="text-align: center;">
    See the entire national calendar <a href="/election-results/2018/">here</a>.
  </p>
</header>
<div id="app" class="state"></div>
{% endblock %}
{% block config %}
<script>
  window.appConfig = {
    'data': '/api/election-events/?format=json&state={{ state.slug }}',
    'images': '/static/almanac/images',
    'type': 'state',
  }
</script>
{% endblock %}
{% block relative_foot %}
<!-- Use me to authenticate basic AJAX requests -->
<input id="secret" type="hidden" value="{{secret}}" />
<script src="{% static 'almanac/js/main-app.js' %}"></script>
{% endblock %}
