{% extends 'almanac/base.html' %}
{%load staticfiles%}

{% block title %}
<title>2018 {{ state.label }} election schedule and registration dates</title>
{% endblock title %}

{% block content %}
<header class="center">
  <div class="share">
   <a href="" class="icon icon-facebook" target="_blank"></a>
   <a href="" class="icon icon-twitter" target="_blank"></a>
   <a class="icon icon-mail" target="_blank"></a>
  </div>
  <h1>
    2018 {{ state.label }} election schedule and registration dates
  </h1>
  <p class="subhead" style="text-align: center;">
    See the entire national calendar <a href="/election-results/2018/">here</a>.
  </p>
</header>
<div id="app" class="state"></div>
{% endblock %}
{% block config %}
<script>
  window.appConfig = {
    'data': '/api/election-events/?format=json&state={{ state.slug }}',
    'images': '/static/almanac/images',
    'type': 'state',
  }
</script>
{% endblock %}
{% block relative_foot %}
<!-- Use me to authenticate basic AJAX requests -->
<input id="secret" type="hidden" value="{{secret}}" />
<script src="{% static 'almanac/js/main-app.js' %}"></script>
{% endblock %}
