{% extends 'almanac/base.html' %}
{%load staticfiles%}

{% block content %}
<header class="center">
  <div class="share">
   <a href="" class="icon icon-facebook" target="_blank"></a>
   <a href="" class="icon icon-twitter" target="_blank"></a>
   <a class="icon icon-mail" target="_blank"></a>
  </div>
  <h1>
    {{ state.label }} Midterm Elections Schedule
  </h1>
  <p class="subhead">
          Short subhead
  </p>
</header>

<div id="app"></div>
{% endblock %}
{% block config %}
<script>
  window.appConfig = {
    'data': '/api/election-events/?format=json&state={{ state.slug }}',
    'images': '/static/almanac/images',
  }
</script>
{% endblock %}
{% block relative_foot %}
<!-- Use me to authenticate basic AJAX requests -->
<input id="secret" type="hidden" value="{{secret}}" />
<script src="{% static 'almanac/js/main-app.js' %}"></script>
{% endblock %}
