{% extends 'almanac/state.live.html' %}

{% block relative_head %}
<link rel="stylesheet" href="{{ statics_path }}/main-app.css">
{% endblock %}


{% block config %}
<script>
  window.appConfig = {
    'data': '{{ data }}',
    'images': '{{ statics_path }}/images',
    'type': 'state',
  }
</script>
{% endblock %}
{% block relative_foot %}

<script src="{{ statics_path }}/main-app.js"></script>
{% endblock %}


{% block ad %}
<script type="text/javascript">
(function(a,b,c,d){
a='//tags.tiqcdn.com/utag/politico/main/prod/utag.js';
b=document;c='script';d=b.createElement(c);d.src=a;
d.type='text/java'+c;
d.async=true;
a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a)
})();
var utag_data = {
 "page_level_1":"interactives",
 "free_paid_content":"free",
 "ad_unit_section":"2018-election",
 "site_section":"elections",
 "page_type":"election results",
 "site_domain":"www.politico.com",
 "internal_site_id":"politico",
 "page_name":"2018 Election:Results:Primary:Main:State:{{state.label}}{{ad_tag}}",
 "content_author":"Tyler Fisher|Sarah Frostenson|Jeremy C.F. Lin|Jon McClure|Lily Mihalik ",
 "content_byline":"By Tyler Fisher, Sarah Frostenson, Jeremy C.F. Lin, Jon McClure and Lily Mihalik ",
};
window.$('.icon-facebook').click(function(e){
  e.preventDefault();
  const uri = encodeURIComponent(window.location.href);
  window.open('https://www.facebook.com/sharer/sharer.php?u=' + uri);
});
window.$('.icon-twitter').click(function(e){
e.preventDefault();
const uri = window.location.href;
const status = encodeURIComponent('{{year}} {{state}} Election Results: Live map, real-time voting updates ' + uri);
window.open('https://twitter.com/home?status=' + status);
});
</script>
{% endblock %}