@import 'bootstrap';

@import 'breakpoints';
@import 'mixins';
@import 'colors/base';
@import 'colors/diverging';
@import 'colors/qualitative';
@import 'colors/sequential';
@import 'fonts';
// @import 'icons';

@import 'elements';
@import 'sections';
@import 'card';
@import 'key';
@import 'refer';
@import 'navigation';
@import 'header';
@import 'footer';
@import 'photos';
@import 'buttons';
@import 'ads';
@import 'comments';
@import 'share';
@import 'credits';
@import 'graphics';

.date-group {
  padding: 50px 0 50px 0;
  border-bottom: 1px solid $dark-gray;

  &:last-child {
    border: none;
  }
}

.date h2 {
  font-size: 18px;
}

.calendar-wrapper {
  width: 100%;
  margin: 20px auto 0;
  max-width: 100px;

  .week {
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
    .day {
      width: 12%;
      padding-bottom: 12%;
      margin-left: 4px;

      &.visible {
        background-color: $gray;
      }

      &.selected {
        background-color: $politico-red;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}