@import 'bootstrap';

@import 'breakpoints';
@import 'mixins';
@import 'colors/base';
@import 'colors/diverging';
@import 'colors/qualitative';
@import 'colors/sequential';
@import 'fonts';
// @import 'icons';

@import 'elements';
@import 'sections';
@import 'card';
@import 'key';
@import 'refer';
@import 'navigation';
@import 'header';
@import 'footer';
@import 'photos';
@import 'buttons';
@import 'ads';
@import 'comments';
@import 'share';
@import 'credits';
@import 'graphics';

.date-group {
  padding: 50px 0 50px 0;
  border-bottom: 1px solid $dark-gray;

  &:last-child {
    border: none;
  }
}

.date h2 {
  font-size: 26px;
}

.calendar-wrapper {
  width: 100%;
  margin: 20px auto 0;
  max-width: 100px;

  .week {
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
    .day {
      width: 12%;
      padding-bottom: 12%;
      margin-left: 4px;

      &.visible {
        background-color: $gray;
      }

      &.selected {
        background-color: $politico-red;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.event-wrapper {
  padding: 70px 0;
  border-bottom: 1px solid #D6D6D6;

  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
    border: none;
  }

  h3 {
    font-size: 26px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
  }

  .header-row {
    position: relative;
  }

  .tags {
    margin-left: 20px;
    display: inline-block;

    .tag {
      font-family: $franklin;
      text-transform: uppercase;
      padding: 5px 10px;
      margin: 0px 5px;
      border: 1px solid #D6D6D6;
      font-size: 14px;
      vertical-align: middle;
    }
  }

  .button-toggle {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .button {
      background-color: #d6d6d6;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      font-size: 40px;
      line-height: 29px;
      text-align: center;
      box-shadow: 0px 3px 4px rgba(0,0,0,0.3);
      cursor: pointer;
      transition: transform 500ms ease-in;
    }
  }

  .description {
    margin-top: 15px;
  }
  p {
    max-width: 100%;
    font-family: $franklin;
    font-size: 18px;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .expando {
    margin-top: 40px;
    border: 1px solid #d6d6d6;

    .row {
      margin: 0;
      display: flex;
    }
    .column {
      padding: 0;
      border-right: 1px solid #d6d6d6;
      width: 25%;

      &:last-child {
        border: none;
      }
    }

    .top {
      background-color: #f0f0f0;
      padding: 10px;
      border-bottom: 1px solid $gray;

      h4 {
        font-size: 18px;
      }
    }
    .bottom {
      padding: 10px;
      h6 {
        text-align: left;
      }
      p {
        font-weight: bold;
        font-size: 20px;

        &.no-data {
          font-weight: normal;
          font-size: 16px;
        }
      }
    }
  }
}